build/
build64/
build32/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

*.o
*.a
*.so
*.ko
*.mod.c
*.order
*.symvers
.*.cmd
.tmp_versions/

*.swp
*.swo
*~
.DS_Store

.vscode/
.idea/
*.swp
build64-xs/
initramfs-sysroot/
linux.build/
