[submodule "linux"]
	path = linux
	url = git@github.com:xiaoxinlovead/linux-6.12.27.git
	branch = master
[submodule "opensbi"]
	path = sm/opensbi
	url = git@github.com:xiaoxinlovead/opensbi.git
	branch = hellovector
