# SPDX-License-Identifier: BSD-2-Clause

config PLATFORM_NEMU_XIANGSHAN
	bool
	select FDT
	select FDT_DOMAIN
	select FDT_PMU
	default y

if PLATFORM_NEMU_XIANGSHAN

config PLATFORM_NEMU_XIANGSHAN_NAME
	string "Platform default name"
	default "NEMU-Xiangshan"

config PLATFORM_NEMU_XIANGSHAN_MAJOR_VER
	int "Platform major version"
	range 0 65535
	default 0

config PLATFORM_NEMU_XIANGSHAN_MINOR_VER
	int "Platform minor version"
	range 0 65535
	default 1

config PLATFORM_NEMU_XIANGSHAN_FDT_EMPTY_SPACE
	int "Platform FDT empty space (KB)"
	range 0 1024
	default 4

endif
